/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
*/
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right,#481173 0,#cb11ab 100%) no-repeat;
    font-weight: 500;
    color: #fff;
    /*    min-height: 100%;*/
}

.header {
    max-width: 1197px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 50px 15px;
}

html {
    min-height: 100%;
}

.header__logo {
    display: block;
    width: 125px;
}

.form {
    position: relative;
}

.form__button {
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(50%-10px);
    padding: 10px 0px 0px 0px;
    left: 10px;
}

.from-button__img {
    width: 20px;
}

.card__b {
    position: absolute;
    bottom: 0;
    width: 86%;
    padding-bottom: 10px;
}

.card-item {
    display: flex;
    justify-content: space-between;
}

.form__input {
    width: 384px;
    background: rgba(255,255,255, 0.1);
    border-radius: 10px;
    border: none;
    padding: 10px 40px;
    color: #fff;
}

    .form__input::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    .form__input:focus {
        outline: none;
    }

.header__list {
    display: flex;
    list-style-type: none;
    /*Для отступа*/
    gap: 40px;
    font-size: 20px;
    padding-left: 0px;
}

.header__link {
    color: #fff;
    text-decoration: none;
}

.header__link_gradient {
    background: linear-gradient(to right, #cb11ab 0,#481173 100%);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px 20px;
}

.container {
    max-width: 1197px;
    margin: 0px auto;
    padding: 0px 15px;
}

.title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.header__main-text {
    font-size: 28px;
    font-weight: 700;
}

.desc {
    font-size: 20px;
    color: rgba(255,255,255,0.5);
    text-align: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    /*    justify-content: space-between;*/
    margin-bottom: 150px;
    gap: 15px;
}

.card__item {
    background: rgba(255,255,255,0.1);
    box-shadow: 0px 5px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
    padding: 26px;
    gap: 15px;
    flex-basis: 32%;
    box-sizing: border-box;
    transition: .3s;
    margin-bottom: 10px;
    height: 700px;
    position: relative;
}

.card__item-store {
    background: rgba(255,255,255,0.1);
    box-shadow: 0px 5px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
    padding: 26px;
    gap: 15px;
    flex-basis: 32%;
    box-sizing: border-box;
    transition: .3s;
    margin-bottom: 10px;
    height: 600px;
    position: relative;
}

.card__item:hover {
    background: rgba(255,255,255,0.5);
}

.card__cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 380px;
    border-radius: 10px;
}

.card__img {
    width: 100%;
    height: 380px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

    .card__info {
        display: flex;
        justify-content: space-between;
    }

.card__nick {
    font-size: 20px;
    color: rgba(255,255,255,0.5);
}

.card__book {
    font-size: 20px;
    font-weight: 700;
}

.text__price {
    text-align: right;
    font-size: 15px;
    color: rgba(255,255,255,0.5);
}

.card__price {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.card__link {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    background: linear-gradient(to right, #cb11ab 0,#481173 100%);
    padding: 11px 20px;
}

    .card__link:not(:last-child) {
        margin-bottom: 5px;
    }

    .card__link:hover {
        background: #000;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px solid #fff;
    }


@media(max-width: 1130px) {
    .header, .content {
        max-width: 900px;
    }

    .header__list {
        gap: 20px;
    }

    .form__input {
        width: 260px;
        padding: 13px 13px 13px 40px;
        font-size: 14px;
    }


    .title {
        font-size: 36px;
    }

    .card__cover, .card__img {
        height: 300px;
    }

    .card__price, .card__author, .card__nick {
        font-size: 16px;
    }
}

@media(max-width: 880px) {
    .header, .content {
        max-width: 750px;
    }

    .header__buttons {
        display: flex;
    }

    .form, .header__nav {
        display: none;
    }

    .card__cover, .card__img {
        height: 30vw;
    }

    .card__info {
        flex-direction: column;
        text-align: center;
    }

    .card_bid {
        margin-top: 20px;
        text-align: center;
    }

    .card__item {
        padding: 15px;
    }
}

@media(max-width:600px) {
    .header, .container {
        max-width: 400px;
    }

    .header {
        padding-bottom: 60px;
    }


    .desc, .card__link {
        font-size: 16px;
    }

    .title {
        font-size: 30px;
    }

    .desc {
        max-width: 300px;
    }

    .card {
        flex-direction: column;
    }

    .card {
        margin: 30px auto 100px;
        max-width: 300px;
    }

    .card__item {
        margin-bottom: 15px;
    }

    .card__cover, .card__img {
        height: 50vw;
    }
}

/*--------------------------------*/
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__text {
    flex-basis: 490px;
}

.main__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 10px;
}

.main__decs {
    font-size: 20px;
    line-height: 1.8;
    color: rgba(255,255,255,0.5);
    margin-top: 0px;
    margin-bottom: 5px;
}

    .main__decs:last-child {
        margin-bottom: 42px;
    }

.main__btn {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
    padding: 11px 20px;
}

.main__btn_gradient {
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
    margin-right: 20px;
}

.main__list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    gap: 110px;
    margin-top: 60px;
    margin-bottom: 24px;
}

.main__item {
    color: rgba(255,255,255,0.5);
    font-size: 20px;
}

.main__span {
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 8px;
}

.main__image {
    /*    flex-basis: calc(100%-390px-116px);*/
    /*      max-height:500px;*/
    max-width: 650px;
}

.main__img {
    margin-top: -20px;
    margin-left: -30px;
    width: 70%;
    /*    max-width: 600px;*/
}

.main__buttoms {
    display: flex;
    margin: 40px 0px 0px 0px;
}

.book__characteristics {
    color: #fff;
}

.button-len {
    width: 100%;
}
/*---------------------------*/
.page_tasks {
    position: relative;
}

.main-block__body {
    padding: 0px 0px 20px 0px;
    overflow: hidden;
}

.page__title {
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.main-block_title {
    font-size: 58px;
    letter-spacing: 0.2px;
    font-weight: 800;
}

.main-block__button {
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    font-weight: 700;
    text-align: center;
    margin: 0px -5px;
    transition: 1s all ease;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
}

    .main-block__button:hover {
        transform: scale(1.2);
        background: linear-gradient(-113.49deg,#984D38 -30.3%, #181E41 58.12%) no-repeat;
        color: #fff;
        border: 3px solid #000;
    }

.main-block__button_border {
    border: 1px solid #0d5c63;
    color: black;
}

.tasks {
}

.tasks__container {
}

@media(min-width:670px) {
    .tasks__body {
        display: flex;
        flex-wrap: wrap;
    }
}

.tasks__column {
    flex: 0 1 33.333%;
    overflow: hidden;
}

    .tasks__column:not(:last-child) {
        margin: 0px 0px 5px 0px;
        padding: 0px 5px 0px 0px;
    }

@media(max-width:670px) {
    .tasks__column {
        padding: 0px 15px;
    }
}

@media(max-width:992px) {
    .tasks__column {
        flex: 0 1 50%;
    }

        .tasks__column:not(:last-child) {
            margin: 0px 0px 30px 0px;
        }

        .tasks__column:last-child {
            flex: 1 1 100%;
        }

    .main-block_title {
        font-size: 40px;
    }
}

.tasks__item {
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0,0,0,0.07);
    padding: 35px;
    transition: all 1s ease;
    background: linear-gradient(-113.49deg,#984D38 -30.3%, #181E41 58.12%) no-repeat;
    border-radius: 10px;
}

    .tasks__item:hover {
        background: linear-gradient(90deg,#984D38 -30.3%, #181E41 58.12%);
        color: #fff;
    }

.item-tasks__title .menu__item:hover {
}

@media(max-width:479px) {
    .tasks__item {
        padding: 25px;
    }
}

.item-task > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.item-tasks__icon {
    max-height: 60px;
}

.item-tasks__title {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
}

.item-tasks__text {
    color: #737373;
    line-height: 142%;
}

.item-tasks__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__button {
    font-weight: 600;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    transition: 1s all ease;
    border: none;
    text-decoration: none;
    color: #000;
}

    .card__button:hover {
        color: #fff;
        transform: scale(1.2);
    }

.tasks__item:hover .center-img {
    content: url(/img/card/hoverPlus.svg);
    width: 150px;
    transform: scale(1.2);
}

.center-img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    transition: 1s all ease;
}
/*--------------------*/
.main__form {
}

.form__title {
    font-weight: 700;
    font-size: 24px;
}

.form__input-card {
    width: 200px;
    height: 25px;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 5px;
}

    .form__input-card:focus {
        color: #000;
        font-weight: 700;
        font-size: 18px;
    }

.form__block {
    align-content: center;
    justify-content: center;
    text-align: center;
}

    .form__block:not(:last-child) {
        margin: 0px 0px 10px 0px;
    }

.form-button-card {
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    background-color: #6A5ACD;
    color: #fff;
    height: 30px;
    width: 150px;
}

.form__button-card:hover {
    background-color: #008080;
    color: #000;
}


/*---------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

.main-block {
    position: relative;
}

.main-block__container {
}

.main-block__body2 {
    padding: 50px 0px 191px 0px;
    margin: 10px 0px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    border: 2px solid #000;
    width: 80%;
    justify-content: center;
    align-content: center;
    height: 30px;
    display: flex;
}

.body2-left {
    width: 30%;
    max-width: 30%;
}

.form__basket {
    padding-top: -50px;
}

@media (max-width:992px) {
    .main-block__body2 {
        padding: 120px 0px 191px 0px;
    }
}

.main-block__body2 > *:not(:last-child) {
    margin: 0px 0px 15px 0px;
}

.main-block__title {
    padding: 30px 0px 0px 0px;
    font-size: 58px;
    line-height: 137%;
    letter-spacing: 0.2px;
    font-weight: 800;
}

@media(max-width:479px) {
    .main-block__title {
        font-size: 42px;
    }
}

.form__title-user {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-decoration: underline;
    padding-left: 20px;
}

.form__title {
    padding: 0px 0px 0px 10px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.title-time {
    margin: 0px 20px 0px 0px;
}

.title-couple {
    display: flex;
}

.form__subtitle {
    padding: 0px 0px 0px 20px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.main-couple {
    justify-content: space-between;
}

.form__input-trash:hover {
    background-image: url(/img/history/trash2.png);
}

.form__input-trash {
    background-color: transparent;
    border: 0px solid;
    height: 42px;
    width: 40px;
    padding-right: 50px;
    background-image: url(/img/history/trash.png);
}
