<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarService.Client</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <a class="header__link header__main-text" asp-controller="Car" asp-action="Index">Спорт-товары</a>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item"> <a class="header__link" asp-action="Index" asp-controller="Goods">Спорт товары</a></li>
                <li class="header__item"> <a class="header__link" asp-action="Basket" asp-controller="Home">Корзина</a></li>
                <li class="header__item"> <a class="header__link" asp-action="Index" asp-controller="Store">Склад</a></li>
                <li class="header__item"> <a class="header__link header__link_gradient" asp-action="HistoryPayment" asp-controller="Home">История покупок</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>